# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Current code owners
# - @EdiLT -> Edilberto López
# - @r-pedraza -> Raul Pedraza
# - @sebastianvarela -> Sebastián Varela
# - @josemanuelmartin -> Jose Manuel Martín
# - @Gabriel-V-Radu -> Valentin Gabriel Radu
# - @adrianrl -> Adrián Ruiz Lafuente
# - @daviwiki -> David Martinez Garcia

* @EdiLT @r-pedraza @sebastianvarela @josemanuelmartin @Gabriel-V-Radu @adrianrl @daviwiki
